@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .myContainer {
    @apply max-w-7xl mx-auto;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: "Nahid";
  src: url("./assets/Nahid.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
